@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply font-primary bg-slate-900 text-slate-100 leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
   .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
   .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
   -webkit-text-stroke: 1px #000000; 
  }

   .text-outline-hover{
   -webkit-text-stroke: 1px #2563eb; 
  }
}
 

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Thème clair */
:root {
  --bg-color: #ffffff;
  --text-color: #0f172a; /* slate-900 */
}

/* Thème sombre (activé avec la classe "dark" par next-themes) */
.dark {
  --bg-color: #0f172a; /* slate-900 */
  --text-color: #f1f5f9; /* slate-100 */
}

/* Utilise les variables pour tout le site */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Supprime le clignotement au chargement du thème */
/* [data-theme="light"], [data-theme="dark"] {
  transition: none !important;
} */